<nav class="navbar">
  <a routerLink="/edital" class="navbar-btn group">
    <div class="navbar-icon group-hover:bg-blue-700">
      <span class="bg-edital-default group-hover:bg-edital-active"></span>
    </div>
    Edital
  </a>
  <a routerLink="/atestados" class="navbar-btn group">
    <div class="navbar-icon group-hover:bg-blue-700">
      <span class="bg-atest-default group-hover:bg-atest-active"></span>
    </div>
    Atestado
  </a>
  <button class="navbar-btn" disabled>
    <div class="navbar-icon" >
      <span
        class="bg-chatbot-default"
      ></span>
    </div>
    Chat IA
  </button>
</nav>
