@tailwind base;
@tailwind components;
@tailwind utilities;
.main {
  @apply flex flex-col;
  @media (min-width: 640px) {
    @apply grid grid-cols-[118px_1fr_1fr] grid-rows-[122px_1fr_1fr] gap-x-6 gap-y-10 grid-flow-row;
    grid-template-areas:
      "nav  header     header"
      "nav  container  container"
      "nav  container  container";
  }
}

.nav {
  grid-area: nav;
}

.header {
  grid-area: header;
}

.container {
  grid-area: container;
}
