<h1 class="">
  <nav class="absolute flex items-center w-full px-6 py-8">
    <img src="\logo.png" class="w-40 h-8" alt="" />
    <span class="border-black bg-black h-[38px] w-[2px] border mx-8"></span>
    <h3>Inteligencia <br />para licitação</h3>
  </nav>
  <main class="flex w-full h-screen">
    <div class="flex-1 flex items-center justify-center px-6 py-8">
      <img src="/security-banner.png" class="w-auto" alt="" />
    </div>
    <div class="flex-1 flex items-center justify-center bg-white">
      <h3>Login</h3>
    </div>
  </main>
</h1>
